span.undefined { color:red; }
.bibtable {width:100%; margin: 0 auto; clear: both;}
.bibchart { width: 100%; height: 100px; margin-bottom: 20px;}
.clear {clear:both;}
.year { position: relative; border-bottom: 1px solid black; display: inline-block;} /* height: 100%; */
.yearlabel { position: absolute; bottom: -20px; text-align: center; width: 100%; font-size: smaller;}
.pub { border: 1px solid white; background-color: #eee; }
.inproceedings { background-color: #ccf; }
.article { background-color: #beb; }
.inbook { background-color: #eaa; }
.phdthesis { background-color: #999; }
.unpublished { background-color: #eae; }
.mastersthesis { background-color: #eea; }
.techreport { background-color: #b77; }
.legend .pub { width: 10px; height: 10px; display: inline-block; margin: 0 5px 0 15px;}
.legend { margin-bottom: 20px; text-align: center; width: 100%;}
table.display thead th { padding: 3px 18px 3px 10px; border-bottom: 1px solid black; border-top: 1px solid black; font-weight: bold; cursor: pointer; cursor: hand; }
table.display tfoot th { padding: 3px 10px; border-top: 1px solid black; font-weight: bold; }
table.display td {
	padding: 8px 10px;
	text-align: left;
}
table.display td.center { text-align: center; }
.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
	text-align: center;
}
.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
	text-align: center;
}
.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}
.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }
tr.odd { background-color: #eee; }
tr.even { background-color: white; }
div.hidden { display: none;}
div.bibinfo {
	width: 60%;
	position: fixed;
	top: 100px;
	left: 30%;
	background-color: #bbb;
	border: 3px solid #fff;
	padding: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	z-index: 50;
}
	
#shutter {
	background-color: #555;
	opacity: 0.7;
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	left:0;
	z-index: 20;
}

a.bibclose {
	display: none;
	background-color: #BBBBBB;
	border: 3px solid #FFFFFF;
	color: black;
	float: left;
	font-size: 20px;
	height: 20px;
	left: -25px;
	line-height: 20px;
	padding: 3px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: -25px;
	width: 20px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	border-radius:15px;
}

div.bibinfo pre { clear:both; }

.authors {font-style:italic;}
.title {font-weight:bold;}

.dataTables_info {
	margin-top:2em;
}

.dataTables_filter {
	padding-bottom:20px;
	font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.dataTables_filter input {
	width: 80%;
	position: relative;
	float: right;
}

.sorting_1,
.sorting_2 {
	text-align: center !important;
}

td .note {
	display: none;
}

pre {
    -moz-tab-size:    4;
    -o-tab-size:      4;
    -webkit-tab-size: 4;
    -ms-tab-size:     4;
    tab-size:         4;
}

.bibkey {
    float: left;
    display : inline-block;
    min-width: 80px;
    margin-left: 50px;
}

.bibvalue {
    float: left;
    display : inline-block;
    min-width: 150px;
}

.bibtexdiv {
    float: left;
    display : inline-block;
    margin-right: 5px;
}

body {
	overflow-y: scroll;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
	margin-right: 13px;
}

.modal-footer {
	margin-top: 0px;
}

.modal-dialog h4 {
	font-weight: bold;
}
